/* If the screen size is 601px wide or more*/
@media screen and (min-width: 601px) {
  html { font-size: 1.25vw; }

  #pfp {
    max-width: 70%;
  }
}

/* If the screen size is 600px wide or less*/
@media screen and (max-width: 600px) {
  html { font-size: 3vw; }

  #pfp {
    max-width: 100%;
  }
}

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(SortsMillGoudy-Regular.ttf);
}

* {
  font-family: "Sorts Mill Goudy";
  background-color:#dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-size: 16px;
  margin-left: 10px;
}

figcaption {
  text-align: center;
}

hr {
  max-width: 90%;
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

.container {
  min-width: 300px;
  max-width: 50%;
  padding: 10px;
  margin: 30px auto 30px;
  box-shadow: 0 0 20px #888888;
  border-radius: 5px;
}

.header {
  text-align: right;
  padding-right: 30px;
}

.footer {
  text-align: center;
  padding: 15px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  font-weight: 900;
  color:#666666;
  cursor: pointer;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 2.5;
}

.section-dense {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.5;
}

.tab { margin-left: 40px; }

.poetry {
  white-space: pre-line;
}

.prose {
  white-space: pre-wrap;
  }

.footnote {
  font-size: 12px;
}

#pfp {
  display: block;
  margin: 30px auto 20px;
  filter: grayscale(100%);
  height: auto;
}